<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005603986477-3i82rikh58n2cdkml7gufme3kndmrh7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005603986477-3i82rikh58n2cdkml7gufme3kndmrh7a</string>
	<key>API_KEY</key>
	<string>AIzaSyDPgoJzcrab2iZru-jfSAOU6OY5gsuDSkc</string>
	<key>GCM_SENDER_ID</key>
	<string>1005603986477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googlesigninn1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>login-firebase-1-ae0ea</string>
	<key>STORAGE_BUCKET</key>
	<string>login-firebase-1-ae0ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005603986477:ios:a5a058504144a5cfbcaca4</string>
</dict>
</plist>